<p id="notice"><%= notice %></p>

<h1>Produtoimagems</h1>

<table>
  <thead>
    <tr>
      <th>Idproduto</th>
      <th>Imagem</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @produtoimagems.each do |produtoimagem| %>
      <tr>
        <td><%= produtoimagem.idproduto %></td>
        <td><%= produtoimagem.imagem %></td>
        <td><%= link_to 'Show', produtoimagem %></td>
        <td><%= link_to 'Edit', edit_produtoimagem_path(produtoimagem) %></td>
        <td><%= link_to 'Destroy', produtoimagem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Produtoimagem', new_produtoimagem_path %>
