<p id="notice"><%= notice %></p>

<p>
  <strong>Idproduto:</strong>
  <%= @produtoimagem.idproduto %>
</p>

<p>
  <strong>Imagem:</strong>
  <%= @produtoimagem.imagem %>
</p>

<%= link_to 'Edit', edit_produtoimagem_path(@produtoimagem) %> |
<%= link_to 'Back', produtoimagems_path %>
