<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-offset-8 col-sm-6" style="margin-top: 100px">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <h2 style="color:#ffffff; font-family: Harabara Mais, Geneva, sans-serif;">Entrar</h2>
        </div>
          <div class="panel-body">
            <%= bootstrap_form_for(:user, label_errors: true) do |f| %>
              <%= f.email_field :email, class: "input-lg", label_class:"white-text",placeholder: "joao@email.com" %>
              <%= f.password_field :password, label:"Senha", label_class:"white-text", placeholder: "************", class: "input-lg" %>
              <%= f.submit "Login", class: "btn btn-block btn-lg btn-primary" %>
            <% end %><br>
            <%= link_to "Cadastrar", signup_path, class:"btn btn-block btn-sm btn-light" %><br>
            <p id="alert" style="color: white;"><%= alert %></p>
        </div>
      </div>
    </div>
  </div>
</div>