<div class="container-fluid">
  <div class="row">
    <div class="col-sm-offset-6 col-sm-12 row align-items-center justify-content-center" style="margin-top: 20px">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 style="color:#ffffff; font-family: Arial, Helvetica, sans-serif;">Crie um novo usuário</h2>
        </div>
        <div class="panel-body">
          <%= bootstrap_form_for :user do |f| %>
            <%= f.text_field :nome, class: "input-lg", label: "Nome", :required => true, placeholder: "João do Pulo" %>
            <%= f.email_field :email, class: "input-lg", :required => true, placeholder: "joao@email.com" %>
            <%= f.text_field :zap, class: "input-lg", placeholder: "(00) 99999-9999", id: "zap",:required => true %>
            <%= f.text_field :endereco, class:"input-lg", :required => true, placeholder: "Rua Barão do Rio Branco, 000" %>
            <%= f.password_field :password, label:"Senha", minlength: "6", inline_errors: true ,class: "input-lg", placeholder:"Min. 6 caracteres", :required => true %>
            <%= f.password_field :password_confirmation, minlength: "6", label:"Confirme sua senha", placeholder: "******", class: "input-lg", :required => true %>
            <%= f.submit "Criar", class: "btn btn-block btn-lg btn-primary" %>
            <p id="notice"><%= notice %></p>
          <% end %> 
        </div>
      </div>
    </div>
  </div>
</div>