<%= render "navbar/navbar"%>
<br><br><br><br>
<div class="container-fluid">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-10 center-block">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-4">
                    <%= image_tag(@produtoimagem.imagem.mid.url) %>
                </div>
                <div class="col-md-8">
                    <div class="panel2 panel-default">
                        <div class="panel-body">
                            <p><strong>Título do anúncio: </strong><%= @produto.titulo %></p>
                            <%= bootstrap_form_for(:denuncia) do |f| %>
                                <%= f.text_area :desc, class: "input-lg", style: "height:180px;", maxlength: "499", label:"Descrição da denuncia", :required => true, :placeholder => "Descreva o motivo da denúncia..." %>
                                <%= f.hidden_field :idAnuncio, :value => params[:id] %>
                                <%= f.submit "Enviar", class: "btn btn-block btn-lg btn-danger-home active" %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<%= render "footer/footer2" %>