<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Olá, <%= current_user.nome %></a>
  <form class="form-inline">
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-danger" href="/exit" role="button">
      Sair
      </a>
    </div>
  </form>
</nav>


<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Zap</th>
      <th>Endereço</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nome %></td>
        <td><%= user.email %></td>
        <td><%= user.zap %></td>
        <td><%= user.endereco %></td>
      </tr>
    <% end %>
  </tbody>
</table>
