<%= render "navbar/navbar" %>
<div class="container">
	<div class="row justify-content-center">
		<div class="col-sm-4">
			<div class="panel2 panel-default" style="margin-top: 125px;">
				<div class="row" style="margin-left: 1%; margin-right: 1%;">
					<div class="col-sm-12" style="margin-top: 4%;">
						<%= link_to "Vender/Emprestar", vender_path, class:"btn btn-block btn-lg btn-danger-home active" %>
					</div>  
				</div>
				<br>
				<div class="row" style="margin-left: 1%; margin-right: 1%;">
					<div class="col-sm-12">
						<%= link_to "Comprar/Solicitar empréstimo", comprar_path,  class:"btn btn-block btn-lg btn-danger-home active" %>
					</div>
				</div>
				<br>
				<div class="row" style="margin-left: 1%; margin-right: 1%;">
					<div class="col-sm-12" style="margin-bottom: 4%;">
						<%= link_to "Meus anúncios", anuncios_path, class:"btn btn-block btn-lg btn-danger-home active" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%= render "footer/footer2" %>