<%= render "navbar/navbar" %>
<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-md-12">
        <h2 style="color:black; font-family: Harabara Mais, Helvetica, sans-serif; margin-top: 20px;">Resultados da busca</h2>
            <div class="panel panel-default" style="margin-top: 25px;">
                <div class = "panel-body">
                    <table class="table table-striped table-hover table-sm">
                        <thead>
                            <tr>
                                <th style = "color: black;">
                                    <%= image_tag "camera.png", size: "25x20", style: "margin-left: 35px;"  %>
                                </th>
                                <th style = "color: black;">
                                    Título
                                </th>
                                <th style = "color: black;">
                                    Autores
                                </th>
                                <th style = "color: black;">
                                    Data de Publicação
                                </th>
                                <th style = "color: black;">
                                    Ações
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @produto.each do |produto| %>   
                            <% Produtoimagem.where(:produto_id => produto.id).find do |image| %>
                            <tr>
                                    <td style="width: 20%; word-wrap: break-word;"><%= image_tag(image.imagem.thumb.url) %></td>
                                    <td style="width: 30%; word-wrap: break-word;"><%= produto.titulo %></td>
                                    <td style="width: 15%; word-wrap: break-word;"><%= produto.autores %></td>
                                    <td style="width: 10%; word-wrap: break-word;"><%= produto.data_pub %></td>
                                    <td style="width: 10%; word-wrap: break-word;">
                                        <%= link_to 'Tenho interesse', 
                                        {:controller=>:compras,:action=>:nova, :idproduto=>produto.id}, 
                                        method: :put, data: { confirm: 'Você tem certeza disso?' }, class: "btn btn-sm btn-block btn-danger-home", style: 'color: #FFFFFF;', :remote => true %>
                                        <br>
                                        <%= link_to 'Denunciar publicação', {:controller=>:denuncia, :action => :new, :id =>produto.id}, 
                                        method: :get, data: { confirm: 'Você tem certeza disso?' }, class: "btn btn-sm btn-block btn-danger-home", style: 'color: #FFFFFF;' %>
                                    </td>
                                </tr>
                            <% end %>
                            <% end %>
                        </tbody>
                    </table>
                    <%= link_to "Voltar", comprar_path, class:"btn btn-sm btn-danger-home active" %>
                    <p id="notice"><%= notice %></p>
                </div>
            </div>
		</div>
	</div>
</div>
<br>
<%= render "footer/footer2" %>