<%= render "navbar/navbar"%>
<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-md-12">
        <h2 style="color:black; font-family: Harabara Mais, Helvetica, sans-serif; margin-top: 20px;">Meus Anúncios</h2>
            <div class="panel panel-default" style="margin-top: 25px;">
                <div class = "panel-body">
                    <p id="notice"><%= notice %></p>
                    <table class="table table-striped table-hover table-sm">
                        <thead>
                            <tr>
                                <th style = "color: black;">
                                    <%= image_tag "camera.png", size: "25x20", style: "margin-left: 35px;"  %>
                                </th>
                                <th style = "color: black;">
                                    Título
                                </th>
                                <th style = "color: black;">
                                    Autores
                                </th>
                                <th style = "color: black;">
                                    Data de Publicação
                                </th>
                                <th style = "color: black;">
                                    Editora
                                </th>
                                <th style = "color: black;">
                                    Ações
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @produto.each do |produto| %>   
                            <% Produtoimagem.where(:produto_id => produto.id).find do |image| %>
                            <tr>
                                    <td style="width: 10%; word-wrap: break-word;"><%= image_tag(image.imagem.thumb.url) %></td>
                                    <td style="width: 20%; word-wrap: break-word;"><%= produto.titulo %></td>
                                    <td style="width: 10%; word-wrap: break-word;"><%= produto.autores %></td>
                                    <td style="width: 10%; word-wrap: break-word;"><%= produto.data_pub %></td>
                                    <td style="width: 10%; word-wrap: break-word;"><%= produto.editora %></td>
                                    <td style="width: 5%; word-wrap: break-word;">
                                        <%= link_to 'Excluir Publicação', 
                                        {:controller=>:produtos,:action=>:destroy, :id=>produto}, 
                                        method: :delete, data: { confirm: 'Você tem certeza disso?' }, class: "btn btn-sm btn-danger-home", style: 'color: #FFFFFF;' %>
                                    </td>
                                </tr>
                            <% end %>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
            <h2 style="color:black; font-family: Harabara Mais, Helvetica, sans-serif; margin-top: 20px;">Anúncios pausados</h2>
            <div class="panel panel-default" style="margin-top: 25px;">
                    <div class = "panel-body">
                        <table class="table table-striped table-hover table-sm">
                            <thead>
                                <tr>
                                    <th style = "color: black;">
                                        <%= image_tag "camera.png", size: "25x20", style: "margin-left: 35px;"  %>
                                    </th>
                                    <th style = "color: black;">
                                        Título
                                    </th>
                                    <th style = "color: black;">
                                        Autores
                                    </th>
                                    <th style = "color: black;">
                                        Data de Publicação
                                    </th>
                                    <th style = "color: black;">
                                        Editora
                                    </th>
                                    <th style = "color: black;">
                                        Ações
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% Produto.where(:user_id => cookies.signed[:user_id], :visivel => "0").find do |produto| %>   
                                <% Produtoimagem.where(:produto_id => produto.id).find do |image| %>
                                <tr>
                                        <td style="width: 10%; word-wrap: break-word;"><%= image_tag(image.imagem.thumb.url) %></td>
                                        <td style="width: 20%; word-wrap: break-word;"><%= produto.titulo %></td>
                                        <td style="width: 10%; word-wrap: break-word;"><%= produto.autores %></td>
                                        <td style="width: 10%; word-wrap: break-word;"><%= produto.data_pub %></td>
                                        <td style="width: 10%; word-wrap: break-word;"><%= produto.editora %></td>
                                        <td style="width: 5%;">
                                            <%= link_to 'Mais', 
                                            {:controller=>:produtos,:action=>:show, :id=>produto.id}, 
                                            method: :get, class: "btn btn-sm btn-block btn-danger-home active", style: 'color: #FFFFFF;' %>
                                            <br>
                                            <%= link_to 'Excluir Publicação', 
                                            {:controller=>:produtos,:action=>:destroy, :id=>produto}, 
                                            method: :delete, data: { confirm: 'Você tem certeza disso?' }, class: "btn btn-sm btn-danger-home active", style: 'color: #FFFFFF;' %>
                                    </td>
                                    </tr>
                                <% end %>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            <h2 style="color:black; font-family: Harabara Mais, Helvetica, sans-serif; margin-top: 20px;">Anúncios Finalizados</h2>
            <div class="panel panel-default" style="margin-top: 25px;">
                    <div class = "panel-body">
                        <table class="table table-striped table-hover table-sm">
                            <thead>
                                <tr>
                                    <th style = "color: black;">
                                        <%= image_tag "camera.png", size: "25x20", style: "margin-left: 35px;"  %>
                                    </th>
                                    <th style = "color: black;">
                                        Título
                                    </th>
                                    <th style = "color: black;">
                                        Autores
                                    </th>
                                    <th style = "color: black;">
                                        Data de Publicação
                                    </th>
                                    <th style = "color: black;">
                                        Editora
                                    </th>
                                    <th style = "color: black;">
                                        Ações
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% Produto.where(:user_id => cookies.signed[:user_id], :visivel => "2").find do |produto| %>   
                                <% Produtoimagem.where(:produto_id => produto.id).find do |image| %>
                                <tr>
                                        <td style="width: 10%; word-wrap: break-word;"><%= image_tag(image.imagem.thumb.url) %></td>
                                        <td style="width: 20%; word-wrap: break-word;"><%= produto.titulo %></td>
                                        <td style="width: 10%; word-wrap: break-word;"><%= produto.autores %></td>
                                        <td style="width: 10%; word-wrap: break-word;"><%= produto.data_pub %></td>
                                        <td style="width: 10%; word-wrap: break-word;"><%= produto.editora %></td>
                                        <td style="width: 5%;">
                                            <%= link_to 'Excluir Publicação', 
                                            {:controller=>:produtos,:action=>:destroy, :id=>produto}, 
                                            method: :delete, data: { confirm: 'Você tem certeza disso?' }, class: "btn btn-sm btn-danger-home active", style: 'color: #FFFFFF;' %>
                                    </td>
                                    </tr>
                                <% end %>
                                <% end %>
                            </tbody>
                        </table>
                        <%= link_to "Voltar", home_path, class:"btn btn-sm btn-danger-home active" %>
                    </div>
                </div>
		</div>
    </div>
    <br>
</div>
<%= render "footer/footer2" %>