<%= render "navbar/navbar" %>
<div class="container-fluid">
  <div class="row align-items-center justify-content-center">
    <div class="col-sm-offset-6 col-sm-6" style="margin-top: 20px">
      <div class="panel panel-default">
        <div class="panel-heading align-items-center justify-content-center">
            <div class="row justify-content-center">
                <h2 style="columns: #000000;; font-family: Harabara Mais, Helvetica, sans-serif;">Anunciar</h2>
            </div>
        </div>
        <div class="panel-body">
          <%= bootstrap_form_for(:produto, :html => {:multipart => false}) do |f| %>
            <%= f.text_field :titulo, class: "input-lg", maxlength: "100", label: "Título", :required => true, :placeholder => "Sistemas Operacionais Modernos"%>
            <%= f.text_field :autores, class: "input-lg", maxlength: "100", label:"Autores", :placeholder => "A. Tanenbaum", :required => true %>
            <%= f.text_field :edicao, class: "input-lg", maxlength: "11", label:"Edição", :placeholder => "4ª" %>
            <%= f.text_field :data_pub, id: "data_pub", class:"input-lg", maxlength: "10", label:"Data de publicação", :placeholder => "01/01/2001", :required => true %>
            <%= f.text_field :isbn, label:"ISBN", maxlength: "13", minlength: "13", inline_errors: true , class: "input-lg", :placeholder => "1234567891234" %>
            <%= f.text_field :editora, maxlength: "40", label:"Editora", :placeholder => "Editora..."  %>
            <%= f.file_field :imagem, label: "Imagens", name: "produtoimagem[imagem][]", :multiple => false, accept: 'image/png,image/gif,image/jpeg', :required => true %>
            <%= f.submit "Criar Anúncio", class: "btn btn-block btn-lg btn-danger-home active" %>
            <%= link_to "Voltar", home_path, class:"btn btn-block btn-sm btn-light" %><br>
            <p id="notice"><%= notice %></p>
          <% end %> 
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
<%= render "footer/footer" %>